# OpenAI API Key
OPENAI_API_KEY=

# Optional
OPENAI_MODEL=gpt-4o-mini
OPENAI_API_BASE=https://api.openai.com/v1
OPENAI_API_LOG=1
OPENAI_API_LOG_PAYLOAD=0
OPENAI_TRANSFER_AGENT=1
# If your system uses http_proxy/https_proxy, keep this as 1
NODE_USE_ENV_PROXY=1
PORT=3000
